.advantages {
  overflow: hidden;
  background-color: $lightgrey;
}

.advantages__appeal {
  position: relative;
  background-color: #ffffff;
  padding: 39px 0 0 0;
}

.advantages__appeal::after {
  content: "";
  position: absolute;
  display: block;
  height: 95px;
  width: 100%;
  left: 0;
  bottom: -95px;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 1200 94.074' height='94.074' viewBox='0 0 1200 94.074' width='1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1200 0h-1200v94.074z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__appeal-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  width: 212px;
  margin: 0 auto;
  margin-bottom: 29px;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 84px 30px 0 28px;
  list-style: none;
  text-align: center;
}

.advantages__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 265px;
  margin: 0 auto 31px auto;
}

.advantages__item:last-of-type {
  margin: 0 auto;
}

.advantages__image {
  z-index: 1;
}

.advantages__image--mood,
.advantages__image--world-around {
  display: none;
}

.advantages__image--friends {
  order: 3;
  margin-bottom: -40px;
}

.advantages__title {
  margin: 0 0 12px 0;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.advantages__desc {
  margin: 0;
}

.advantages__item--friends .advantages__desc {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advantages__appeal {
    padding: 49px 0 26px 0;
  }

  .advantages__appeal-text {
    font-size: 40px;
    line-height: 48px;
    width: 590px;
    margin-bottom: 0;
  }

  .advantages__appeal-text:last-of-type {
    width: 580px;
  }

  .advantages__list {
    align-items: flex-end;
    width: 660px;
    padding: 95px 21px 0 28px;
    text-align: left;
  }

  .advantages__item {
    align-items: flex-start;
    width: 310px;
    margin: 0;
    margin-bottom: 34px;
  }

  .advantages__item:last-of-type {
    margin: 0;
    margin-right: -2px;
  }

  .advantages__item--world-around {
    margin-right: -2px;
    margin-bottom: 35px;
  }

  .advantages__image--friends {
    margin-top: -280px;
    margin-bottom: -40px;
    margin-left: -235px;
  }

  .advantages__item--friends .advantages__desc {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__appeal {
    padding: 68px 0 78px 0;
  }

  .advantages__appeal-text {
    font-size: 50px;
    line-height: 60px;
    width: 740px;
  }

  .advantages__appeal-text:last-of-type {
    width: 720px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    padding: 0 31px 0 30px;
    text-align: center;
  }

  .advantages__item {
    align-items: center;
    width: 240px;
    margin-bottom: 34px;
  }

  .advantages__item:last-of-type {
    margin: 0;
  }

  .advantages__title {
    margin: 0 0 24px 0;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
  }

  .advantages__desc {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__image--mood,
  .advantages__image--world-around {
    display: block;
  }

  .advantages__image {
    order: 0;
    margin: 0 0 26px 0;
  }
}
