.advantages {
  overflow: hidden;
  background-color: $lightgrey;
}

.advantages__appeal {
  position: relative;
  padding: 39px 0 3px 0;
  background-color: #ffffff;
}

.advantages__appeal::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  display: block;
  width: 100%;
  height: 31px;
  border-top: 31px solid transparent;
  border-right: 100vw solid #f2f2f2;
  background-color: #ffffff;
}

.advantages__appeal-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  width: 212px;
  margin: 0 auto;
  margin-bottom: 29px;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 81px 30px 0 28px;
  list-style: none;
  text-align: center;
}

.advantages__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 265px;
  margin: 0 auto 31px auto;
}

.advantages__item:last-of-type {
  margin: 0 auto;
}

.advantages__item--friends picture {
  z-index: 1;
  order: 3;
}

.advantages__image {
  z-index: 1;
  display: block;
}

.advantages__image--mood,
.advantages__image--world-around {
  display: none;
}

.advantages__image--friends {
  margin-bottom: -40px;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 12px 0;
  color: #000000;
}

.advantages__desc {
  margin: 0;
}

.advantages__item--friends .advantages__desc {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advantages__appeal {
    padding: 49px 0 47px 0;
  }

  .advantages__appeal::after {
    bottom: -51px;
    height: 51px;
    border-top: 51px solid transparent;
  }

  .advantages__appeal-text {
    font-size: 40px;
    line-height: 48px;
    width: 590px;
    margin-bottom: 0;
  }

  .advantages__appeal-text:last-of-type {
    width: 580px;
  }

  .advantages__list {
    align-items: flex-end;
    width: 660px;
    padding: 74px 21px 0 28px;
    text-align: left;
  }

  .advantages__item {
    align-items: flex-start;
    width: 310px;
    margin: 0;
    margin-bottom: 34px;
  }

  .advantages__item:last-of-type {
    margin: 0;
    margin-right: -2px;
  }

  .advantages__item--world-around {
    margin-right: -2px;
    margin-bottom: 35px;
  }

  .advantages__image--friends {
    margin-top: -481px;
    margin-bottom: 0;
    margin-left: -310px;
  }

  .advantages__item--friends .advantages__desc {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__appeal {
    padding: 68px 0 78px 0;
  }

  .advantages__appeal::after {
    bottom: -91px;
    height: 91px;
    border-top: 91px solid transparent;
  }

  .advantages__appeal-text {
    font-size: 50px;
    line-height: 60px;
    width: 740px;
  }

  .advantages__appeal-text:last-of-type {
    width: 720px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    padding: 0 32px 0 30px;
    text-align: center;
  }

  .advantages__item {
    align-items: center;
    width: 240px;
    margin-bottom: 34px;
  }

  .advantages__item:last-of-type {
    margin-bottom: 34px;
  }

  .advantages__item picture {
    z-index: 1;
    order: initial;
  }

  .advantages__image--mood,
  .advantages__image--world-around {
    display: block;
  }

  .advantages__image {
    order: 0;
    margin: -4px 0 56px 0;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 24px 0;
    color: #000000;
  }

  .advantages__desc {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__item--friends .advantages__desc {
    margin-bottom: 0;
  }
}
