.competition__appeal {
  line-height: 30px;
  width: 282px;
  margin: 0 auto;
  padding: 50px 0 30px 0;
  text-align: center;
}

.competition__appeal-call {
  display: none;
}

.competition__form {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .competition__appeal {
    font-size: 18px;
    width: 495px;
    padding: 85px 0 60px 0;
  }

  .competition__appeal-call {
    display: initial;
  }

  .competition__form {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .competition__appeal {
    width: 760px;
    padding: 90px 0 70px 0;
  }

  .competition__form {
    width: 960px;
  }
}
