.contacts {
  padding: 43px 35px 20px 35px;
  text-align: center;
  overflow-x: hidden;
}

.contacts__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  width: 240px;
  margin: 0 auto 33px auto;
}

.contacts__list {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 18px;
}

.contacts__item--mail {
  margin-bottom: 21px;
  margin-left: -5px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  display: block;
}

.contacts__item--mail .contacts__title {
  margin-bottom: 2px;
}

.contacts__item--address .contacts__title {
  margin-bottom: 2px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  font-style: normal;
  color: $pink;
}

.contacts__text--mail:hover,
.contacts__text--mail:focus {
  color: $lightblue;
  text-decoration: underline;
}

.contacts__text--mail:active {
  color: $lightblue;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 47px 18px 27px 18px;
  }

  .contacts__header {
    font-size: 40px;
    line-height: 48px;
    width: 390px;
    margin-bottom: 42px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 42px;
  }

  .contacts__item:last-of-type {
    margin: 0 auto;
  }

  .contacts__title,
  .contacts__item--mail .contacts__title,
  .contacts__item--address .contacts__title {
    margin-bottom: 3px;
  }

  .contacts__item--mail .contacts__title,
  .contacts__item--address .contacts__title {
    margin-bottom: 5px;
  }

  .contacts__item--address {
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 64px 10px 4px 10px;
  }

  .contacts__header {
    font-size: 50px;
    line-height: 60px;
    width: 490px;
    margin-bottom: 55px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
  }

  .contacts__item:last-of-type {
    margin: initial;
  }

  .contacts__item--tel {
    order: 0;
  }

  .contacts__item--mail {
    order: 2;
    margin-left: 0;
  }

  .contacts__item--address {
    order: 1;
  }

  .contacts__item--tel .contacts__title,
  .contacts__item--address .contacts__title {
    margin-bottom: 22px;
  }

  .contacts__item--mail .contacts__title {
    margin-bottom: 24px;
  }
}
