.footer-map {
  position: relative;
  overflow: hidden;
  height: 200px;
  text-align: center;
  background-color: #f3f1ea;
}

.footer-map::before {
  content: "";
  position: absolute;
  display: block;
  height: 69px;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 595.28 61.905' height='61.905' viewBox='0 0 595.28 61.905' width='595.28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m297.64 61.905-297.64-61.905h595.28z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.footer-map__image {
  margin-top: -445px;
}

@media (min-width: $tablet-width) {
  .footer-map {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .footer-map {
    height: 502px;
  }

  .footer-map::before {
    height: 125px;
  }
}
