.footer {
  padding: 40px 0 37px 0;
  text-align: center;
}

.footer--index {
  display: none;
}

.footer__logo-link {
  display: block;
  margin-bottom: 33px;
}

.footer__logo {
  display: none;
  fill: $lightblue;
}

.footer__logo--mobile {
  display: inline-block;
}

.footer__logo-link:hover .footer__logo,
.footer__logo-link:focus .footer__logo {
  fill: $pink;
}

.footer__logo-link:active .footer__logo {
  opacity: 0.3;
}

.footer__socials {
  width: 177px;
  margin: 0 auto 37px auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 129px;
  margin: 0 auto;
}

.footer__copyright-link {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: -3px;
}

.footer__copyright-logo {
  fill: $pink;
}

.footer__copyright-link:hover .footer__copyright-logo,
.footer__copyright-link:focus .footer__copyright-logo {
  fill: $lightblue;
}

.footer__copyright-link:active .footer__copyright-logo {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .footer--index {
    display: flex;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 620px;
    padding: 39px 0 32px 0;
  }

  .footer__logo-link {
    margin: -3px 0 0 0;
  }

  .footer__socials {
    margin: 0 0 0 -20px;
  }

  .footer__copyright {
    align-items: center;
    margin: -4px 0 0 0;
  }

  .footer__copyright-link {
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 940px;
    padding: 72px 0 69px 0;
  }

  .footer__logo--mobile {
    display: none;
  }

  .footer__logo--desktop {
    display: inline-block;
  }

  .footer__socials {
    margin: 0 0 0 5px;
  }

  .footer__copyright {
    font-size: 18px;
    width: 154px;
  }

  .footer__copyright-link {
    margin-top: 7px;
  }
}
