.gallery {
  padding-top: 45px;
}

.gallery__appeal {
  line-height: 30px;
  width: 250px;
  margin: 0 auto 49px auto;
  text-align: center;
}

.gallery__list {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
}

.gallery__item {
  margin-bottom: 20px;
}

.gallery__block {
  position: relative;
  margin: 0;
}

.gallery__item--panorama .gallery__block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 36px;
  background-color: $pink;
}

.gallery__item--panorama .gallery__block::after {
  content: "ПАНОРАМА ДНЯ";
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 6px;
  right: 20px;
  color: #ffffff;
}

.gallery__item--panorama .gallery__image {
  margin-left: -20px;
}

.gallery__description {
  margin-top: -7px;
  padding: 18px 17px 20px 17px;
  background-color: $lightgrey;
}

.gallery__title-block {
  margin-bottom: -1px;
}

.gallery__name {
  font-weight: 700;
  margin-right: 1px;
}

.gallery__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__comment {
  margin: 0 0 9px 0;
}

.gallery__like-block {
  margin-left: 1px;
}

.gallery__like-btn {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-right: 15px;
  padding: 0;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.gallery__like-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 521.939 473.064 12.545 11.99' height='11.99' viewBox='521.939 473.064 12.545 11.99' width='12.545' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m528.174 485.055c-.212 0-.412-.091-.552-.249-3.798-4.324-4.644-5.298-4.858-5.572h-.004c-.529-.675-.821-1.518-.821-2.373 0-2.095 1.704-3.799 3.799-3.799.934 0 1.804.32 2.484.898.696-.578 1.56-.898 2.463-.898 2.095 0 3.799 1.704 3.799 3.799 0 .909-.318 1.754-.896 2.381l-4.86 5.561c-.141.161-.342.252-.554.252zm-4.245-6.706c.208.255 2.471 2.839 4.243 4.858l4.323-4.944c.34-.369.52-.86.52-1.399 0-1.285-1.045-2.331-2.33-2.331-.729 0-1.421.344-1.9.943-.142.178-.353.267-.585.275-.227-.003-.439-.111-.575-.294-.441-.587-1.129-.925-1.887-.925-1.285 0-2.33 1.046-2.33 2.331 0 .678.275 1.171.507 1.467.004.006.01.012.014.019z' fill='%23d22856'/%3E%3C/svg%3E");
}

.gallery__like-desc {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

.gallery__like-num {
  margin-left: 3px;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 92px;
  }

  .gallery__appeal {
    font-size: 18px;
    width: 450px;
    margin-bottom: 76px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;
  }

  .gallery__item {
    display: flex;
    width: 300px;
    margin-bottom: 20px;
  }

  .gallery__block {
    display: flex;
    flex-direction: column;
  }

  .gallery__image {
    height: 300px;
    width: 300px;
  }

  .gallery__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
    margin: 0;
    padding: 24px 28px 25px 27px;
    min-height: 155px;
  }

  .gallery__comment {
    margin-bottom: auto;
  }

  .gallery__like-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 19px;
  }

  .gallery__like-desc {
    order: 1;
  }

  .gallery__like-btn {
    order: 2;
    margin: -2px 4px 0 0;
  }

  .gallery__item--panorama {
    width: 100%;
    margin-bottom: 50px;
  }

  .gallery__item--panorama .gallery__block::before {
    top: 57px;
    right: 20px;
  }

  .gallery__item--panorama .gallery__block::after {
    top: 63px;
    right: 40px;
  }

  .gallery__item--panorama .gallery__image {
    height: 509px;
    width: 660px;
  }

  .gallery__item--panorama .gallery__description {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    min-height: initial;
  }

  .gallery__item--panorama .gallery__comment {
    flex-basis: 100%;
    order: 3;
  }

  .gallery__item--panorama .gallery__like-block {
    width: 120px;
  }

  .gallery__item--panorama .gallery__like-btn {
    margin: -1px 1px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding-top: 92px;
  }

  .gallery__appeal {
    width: 580px;
    margin-bottom: 88px;
  }

  .gallery__list {
    width: 960px;
    padding: 0 10px;
  }

  .gallery__item {
    margin-bottom: 54px;
  }

  .gallery__image {
    height: 400px;
    width: 300px;
  }

  .gallery__item--panorama {
    margin-bottom: 49px;
  }

  .gallery__item--panorama .gallery__block::before {
    top: 54px;
    right: 130px;
  }

  .gallery__item--panorama .gallery__block::after {
    top: 60px;
    right: 150px;
  }

  .gallery__item--panorama .gallery__image {
    margin-left: -130px;
    height: 506px;
    width: 1200px;
  }

  .gallery__item--panorama .gallery__description {
    width: 940px;
  }

  .gallery__item--panorama .gallery__like-block {
    margin-right: 3px;
  }

  .gallery__item--panorama .gallery__like-btn {
    margin: -1px 0 0 0;
  }
}
