.intro {
  margin-top: -69px;
  background-color: $darkblue;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.intro__image-block {
  padding-top: 178px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.intro__image {
  margin-bottom: -7px;
  margin-left: -64px;
}

.intro__info-block {
  padding: 28px 20px 31px 20px;
  text-align: center;
}

.intro__appeal {
  display: none;
}

.intro__downloads-button {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px;
  width: 281px;
  height: 55px;
  margin: 0 auto 32px auto;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 55px;
  background-color: transparent;
}

.intro__downloads-button:hover,
.intro__downloads-button:focus {
  color: $pink;
  background-color: #ffffff;
}

.intro__downloads-button:active {
  color: rgba($color: $pink, $alpha: 0.3);
}

.intro__downloads-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto 10px auto;
  padding: 0;
  list-style: none;
}

.intro__downloads-link {
  font-size: 0;
  display: block;
}

.intro__availability {
  width: 250px;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: -109px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro__wrapper {
    display: flex;
    flex-direction: row;
    width: 660px;
  }

  .intro__image-block {
    display: flex;
    align-items: flex-end;
    order: 2;
    background-image: none;
  }

  .intro__image {
    margin-left: -340px;
  }

  .intro__info-block {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 1;
    width: 340px;
    padding: 201px 0 110px 20px;
  }

  .intro__appeal {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    display: block;
    width: 200px;
    margin: 0 0 31px 0;
    color: #ffffff;
  }

  .intro__downloads-button {
    width: 300px;
    padding: 14px;
    margin-bottom: 45px;
  }

  .intro__downloads-list {
    margin-bottom: 25px;
  }

  .intro__availability {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: initial;
  }

  .intro__wrapper {
    width: 960px;
    overflow: hidden;
  }

  .intro__info-block {
    width: 322px;
    padding: 217px 0 122px 10px;
  }

  .intro__image {
    margin-left: -284px;
    margin-bottom: -8px;
  }

  .intro__appeal {
    margin: 0 0 52px 0;
    font-size: 50px;
    line-height: 60px;
    width: 280px;
    color: #ffffff;
  }

  .intro__downloads-button {
    font-size: 21px;
    padding: 14px;
    margin-bottom: 66px;
  }

  .intro__downloads-list {
    margin-bottom: 44px;
  }
}
