.main {
  background-color: #ffffff;
}

.main__header-block {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2c3949;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 237px;
  text-align: center;
  padding-top: 37px;
}

.main__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  width: 200px;
  color: #ffffff;
}
