.nav {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-bottom: 1px;
  padding: 16px 0 15px 0;
  list-style: none;
  text-align: center;
  background-color: $lightblue;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 #000000;
}

.nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__link:hover,
.nav__link:focus {
  color: $pink;
}

.nav__link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .nav {
    display: block;
    width: 622px;
    margin-right: 9px;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__item {
    margin-bottom: 0;
    padding: 14px 0 10px 0;
    background-color: transparent;
    box-shadow: initial;
  }

  .nav__item--current {
    border-bottom: 2px solid #ffffff;
  }

  .nav__item--current a,
  .nav__item--current a:hover,
  .nav__item--current a:focus,
  .nav__item--current a:active {
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
  }

  .nav__link {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
  }

  .nav__link:active {
    color: #ffffff;
    opacity: 0.3;
  }
}
