.options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item {
  margin-bottom: 52px;
}

.options__item:last-of-type {
  margin-bottom: 0;
}

.options__label {
  position: relative;
}

.options__label-text {
  font-size: 18px;
  line-height: 30px;
  padding-left: 69px;
}

.options__checkbox-input + .options__checkbox {
  position: absolute;
  top: -11px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.options__radio-input + .options__radio {
  position: absolute;
  top: -11px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.options__checkbox-input:checked + .options__checkbox::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 6px;
  width: 9px;
  height: 2px;
  transform: rotate(44deg);
  background-color: $pink;
}

.options__checkbox-input:checked + .options__checkbox::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 10px;
  width: 21px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: $pink;
}

.options__radio-input:checked + .options__radio::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  border-radius: 50%;
  background-color: $pink;
}

.options__checkbox-input:hover + .options__checkbox,
.options__checkbox-input:focus + .options__checkbox,
.options__radio-input:hover + .options__radio,
.options__radio-input:focus + .options__radio {
  border-color: $lightblue;
}

.options__checkbox-input:active + .options__checkbox,
.options__radio-input:active + .options__radio {
  border-color: $pink;
}

@media (min-width: $tablet-width) {
  .options__label-text {
    padding-left: 59px;
  }
}
