.options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options__item {
  margin-bottom: 37px;
}

.options__label {
  position: relative;
}

.options__label-text {
  font-size: 18px;
  line-height: 30px;
  padding-left: 70px;
}

.options__checkbox-input + .options__checkbox {
  position: absolute;
  top: -12px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.options__radio-input + .options__radio {
  position: absolute;
  top: -12px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.options__checkbox-input:checked + .options__checkbox::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 8px;
  width: 9px;
  height: 2px;
  background-color: $pink;
  transform: rotate(45deg);
}

.options__checkbox-input:checked + .options__checkbox::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 20px;
  height: 2px;
  background-color: $pink;
  transform: rotate(-45deg);
}

.options__radio-input:checked + .options__radio::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.options__checkbox-input:hover + .options__checkbox,
.options__checkbox-input:focus + .options__checkbox,
.options__radio-input:hover + .options__radio,
.options__radio-input:focus + .options__radio {
  border-color: $lightblue;
}

.options__radio-input:active + .options__radio {
  border-color: $pink;
}
