.price {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  padding: 88px 0 47px 0;
  background-color: $lightgrey;
}

.price__table {
  line-height: 30px;
  width: 836px;
  margin-bottom: 40px;
  border-collapse: collapse;
  text-transform: uppercase;
}

.price__tariff {
  position: relative;
  padding: 17px 20px 16px 20px;
  color: #ffffff;
  border: 2px solid #e5e5e5;
  background-color: $lightblue;
  background-clip: padding-box;
}

.price__tariff-desc,
.price__option--desc {
  display: none;
}

.price__tariff--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 74 73' height='73' viewBox='0 0 74 73' width='74' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m31 0-31 30.581v42.419l74-73z' fill='%23d22856'/%3E%3C/svg%3E");
}

.price__tariff--hit::after {
  content: "ХИТ";
  font-weight: 400;
  position: absolute;
  top: 13px;
  left: 9px;
  transform: rotate(-45deg);
}

.price__tariff-name {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 2px;
}

.price__tariff-tag {
  font-size: 24px;
  font-weight: 300;
}

.price__option {
  position: relative;
  padding: 14px 22px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-clip: padding-box;
}

.price__option--unavailable::before,
.price__option--unavailable::after,
.price__option--available::before,
.price__option--available::after {
  content: "";
  position: absolute;
  height: 3px;
}

.price__option--unavailable::before {
  top: 27px;
  right: 15px;
  width: 35px;
  transform: rotate(45deg);
  background-color: #f25b26;
}

.price__option--unavailable::after {
  top: 27px;
  right: 15px;
  width: 35px;
  transform: rotate(-45deg);
  background-color: #f25b26;
}

.price__option--available::before {
  top: 32px;
  right: 35px;
  width: 15px;
  transform: rotate(45deg);
  background-color: #3dc644;
}

.price__option--available::after {
  top: 28px;
  right: 13px;
  width: 29px;
  transform: rotate(-43deg);
  background-color: #3dc644;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 86px 0 65px 0;
  }

  .price__table {
    width: 620px;
    margin-bottom: 0;
  }

  .price__tariff {
    width: 155px;
    padding: 15px 20px 8px 23px;
  }

  .price__tariff--hit::before {
    width: 61px;
    height: 61px;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 6 61 61' height='61' viewBox='0 6 61 61' width='61' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.975 6-18.975 19.062v41.938l61.09-61z' fill='%23d22856'/%3E%3C/svg%3E");
  }

  .price__tariff--hit::after {
    top: 3px;
    left: 8px;
  }

  .price__tariff-desc,
  .price__option--desc {
    display: table-cell;
  }

  .price__tariff-desc .price__tariff-name {
    font-size: 0;
  }

  .price__tariff-name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .price__tariff-tag {
    font-size: 18px;
  }

  .price__option {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 15px 9px 15px;
    text-align: left;
    text-transform: none;
  }

  .price__option--available,
  .price__option--unavailable {
    font-size: 0;
  }

  .price__option--unavailable::before,
  .price__option--unavailable::after {
    top: 18px;
    right: 57px;
  }

  .price__option--available::before {
    top: 24px;
    right: 78px;
  }

  .price__option--available::after {
    top: 20px;
    right: 56px;
  }

  .price .slider-controls {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 146px 0 93px 0;
  }

  .price__table {
    width: 942px;
  }

  .price__tariff {
    width: 235px;
    padding: 15px 20px 16px 21px;
  }

  .price__tariff-name {
    font-size: 18px;
    line-height: 33px;
  }

  .price__tariff-tag {
    font-size: 24px;
  }

  .price__tariff--hit::before {
    top: 0;
    left: 0;
    width: 74px;
    height: 73px;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 74 73' height='73' viewBox='0 0 74 73' width='74' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m31 0-31 30.581v42.419l74-73z' fill='%23d22856'/%3E%3C/svg%3E");
  }

  .price__tariff--hit::after {
    top: 12px;
    left: 11px;
  }

  .price__option {
    font-size: 18px;
    padding: 12px 15px 17px 22px;
  }

  .price__option--available,
  .price__option--unavailable {
    font-size: 0;
  }

  .price__option--unavailable::before,
  .price__option--unavailable::after {
    top: 26px;
    right: 99px;
  }

  .price__option--available::before {
    top: 34px;
    right: 118px;
  }

  .price__option--available::after {
    top: 29px;
    right: 97px;
  }
}
