.reviews {
  position: relative;
  background-color: #ffffff;
}

.reviews::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  display: block;
  width: 100%;
  height: 25px;
  border-top: 25px solid transparent;
  border-right: 97vw solid #f2f2f2;
  background-color: #ffffff;
}

.reviews__container {
  padding: 40px 21px 42px 20px;
}

@media (min-width: $tablet-width) {
  .reviews::after {
    bottom: -50px;
    height: 50px;
    border-top: 50px solid transparent;
  }

  .reviews__container {
    padding: 40px 21px 21px 20px;
  }
}

@media (min-width: $desktop-width) {
  .reviews::after {
    bottom: -81px;
    height: 81px;
    border-top: 81px solid transparent;
    border-right: 98vw solid #f2f2f2;
  }

  .reviews__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 72px 10px 7px 10px;
  }

  .reviews .slider-controls {
    display: none;
  }
}
