.slider__container {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 34px;
}

.slider__slide-name {
  font-weight: 700;
  font-size: 18;
  line-height: 30px;
  color: #000000;
}

.slider__slide-text {
  margin: 0;
  line-height: 30px;
}
