.upload {
  padding-top: 23px;
  text-align: center;
}

.upload__appeal {
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
}

.upload__appeal:last-of-type {
  margin-bottom: 42px;
}

.upload__wrapper {
  max-width: 940px;
  margin: 0 auto;
  background-color: $lightgrey;
}

.upload__block {
  width: 320px;
  margin: 0 auto;
  padding: 20px 22px 29px 18px;
}

.upload__image {
  display: block;
  margin-bottom: 34px;
}

.upload__edit-block {
  margin: 0 auto;
}

.upload__edit-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto 30px auto;
  padding: 0 0 36px 0;
  list-style: none;
}

.upload__edit-button {
  width: 50px;
  height: 59px;
  font-size: 0;
  padding: 0;
  border: none;
  background: none;
}

.upload__edit-svg {
  opacity: 0.3;
  fill: $lightblue;
}

.upload__edit-button:hover .upload__edit-svg,
.upload__edit-button:focus .upload__edit-svg {
  opacity: 0.5;
}

.upload__edit-button:active .upload__edit-svg,
.upload__edit-button--active .upload__edit-svg {
  opacity: 1;
  fill: $pink;
}

.upload__range {
  position: relative;
  display: none;
  width: 240px;
  margin: 0 auto 34px auto;
}

.upload__range--crop {
  display: block;
  position: absolute;
  left: -15px;
  bottom: -30px;
}

.upload__range-scale {
  width: 100%;
  height: 2px;
  background-color: $lightblue;
}

.upload__range-toggle {
  position: absolute;
  top: -6px;
  left: 80%;
  width: 14px;
  height: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $lightgrey;
}

.upload__range-toggle:active {
  background-color: $pink;
}

.upload__buttons {
  width: 320px;
  margin: 0 auto;
  margin-left: -20px;
  padding: 38px 0 0 0;
  border-top: 1px solid rgba($color: $lightblue, $alpha: 0.1);
}

.upload__button {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 280px;
  height: 55px;
  padding: 0 0 2px 0;
  margin-bottom: 12px;
  color: $lightblue;
  border: 3px solid $lightblue;
  border-radius: 55px;
  background-color: transparent;
}

.upload__button--submit {
  color: $pink;
  border-color: $pink;
}

.upload__button--submit:hover,
.upload__button--submit:focus {
  color: #ffffff;
  background-color: $pink;
}

.upload__button--submit:active {
  color: rgba($color: #ffffff, $alpha: 0.3);
}

.upload__button--reset {
  opacity: 0.1;
}

.upload__button--reset:hover,
.upload__button--reset:focus {
  opacity: 0.3;
}

.upload__button--reset:active {
  color: rgba($color: #ffffff, $alpha: 0.3);
  background-color: $lightblue;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .upload {
    padding-top: 45px;
  }

  .upload__appeal {
    font-size: 18px;
    width: 430px;
  }

  .upload__appeal:last-of-type {
    margin-bottom: 69px;
  }

  .upload__block {
    display: flex;
    justify-content: space-between;
    width: 660px;
    padding: 57px 20px 54px 20px;
  }

  .upload__image {
    margin-bottom: 0;
    width: 300px;
    height: 400px;
  }

  .upload__edit-block {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .upload__edit-list {
    flex-direction: column;
    width: 275px;
    margin-bottom: auto;
    padding: 0;
  }

  .upload__edit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    padding: 26px 18px 24px 0;
    border-bottom: 1px solid rgba($color: $lightblue, $alpha: 0.1);
  }

  .upload__edit-item:first-of-type {
    padding-top: 9px;
  }

  .upload__edit-item:last-of-type {
    padding-top: 23px;
  }

  .upload__edit-button--crop .upload__edit-svg {
    width: 22px;
    height: 22px;
    margin-left: 3px;
  }

  .upload__edit-button--fill .upload__edit-svg {
    width: 24px;
    height: 22px;
    margin-top: 2px;
    margin-left: 3px;
  }

  .upload__edit-button--contrast .upload__edit-svg {
    width: 16px;
    height: 16px;
    margin-left: 7px;
  }

  .upload__edit-button {
    width: 24px;
    height: 22px;
  }

  .upload__edit-svg,
  .upload__edit-button:hover .upload__edit-svg,
  .upload__edit-button:focus .upload__edit-svg,
  .upload__edit-button:active .upload__edit-svg {
    opacity: 1;
    fill: $pink;
  }

  .upload__range {
    display: block;
    width: 202px;
    margin: 0;
  }

  .upload__range--crop .upload__range-toggle {
    left: 72%;
  }

  .upload__range--fill .upload__range-toggle {
    left: 13%;
  }

  .upload__range--contrast .upload__range-toggle {
    left: 48%;
  }

  .upload__range--crop {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .upload__buttons {
    width: 275px;
    margin: 0 auto;
    margin-left: 0;
    padding: 12px 12px 0 0;
    border-top: none;
  }

  .upload__button {
    width: 260px;
    margin-bottom: 24px;
    padding: 0 5px 4px 0;
  }

  .upload__button:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    padding-top: 5px;
  }

  .upload__appeal:last-of-type {
    margin-bottom: 66px;
  }

  .upload__wrapper {
    margin-bottom: 28px;
  }

  .upload__block {
    width: 940px;
    padding: 57px 60px 57px 80px;
  }

  .upload__edit-block {
    width: 410px;
  }

  .upload__edit-list {
    width: 410px;
  }

  .upload__edit-item {
    width: 410px;
    padding: 15px 30px 13px 0;
  }

  .upload__edit-item:first-of-type {
    padding: 0 30px 11px 0;
  }

  .upload__edit-item:last-of-type {
    padding: 12px 30px 13px 0;
  }

  .upload__edit-button--crop .upload__edit-svg {
    width: 48px;
    height: 48px;
    margin: -5px 0 0 -5px;
  }

  .upload__edit-button--fill .upload__edit-svg {
    width: 48px;
    height: 48px;
    margin: 0;
  }

  .upload__edit-button--contrast .upload__edit-svg {
    width: 32px;
    height: 32px;
    margin: 0 0 0 -4px;
  }

  .upload__edit-button {
    width: 48px;
    height: 44px;
  }

  .upload__range {
    width: 288px;
  }

  .upload__range--crop {
    margin-top: -4px;
  }

  .upload__range--crop .upload__range-toggle {
    left: 25%;
  }

  .upload__range--fill .upload__range-toggle {
    left: 86%;
  }

  .upload__range--contrast .upload__range-toggle {
    left: 56%;
  }

  .upload__buttons {
    display: flex;
    justify-content: space-between;
    width: 410px;
    padding: 12px 0 0 0;
  }

  .upload__button {
    width: 183px;
    margin-bottom: 0;
    padding: 0 0 3px 5px;
  }
}
