// Основные цвета

$pink: #d22856;
$lightblue: #283645;
$darkblue: #1d2631;
$lightgrey: #f2f2f2;

// Размеры @media

$tablet-width: 660px;
$desktop-width: 960px;

// Ретинизация

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
